<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>設定</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>通知設定</ion-list-header>
    <button ion-item [navPush]="listTopicsPage">
      <ion-icon name="notifications" item-start></ion-icon>
      通知設定
    </button>
    <ion-list-header>表示設定</ion-list-header>
    <ion-item>
      <ion-label>日々の開示情報を表示しない</ion-label>
      <ion-toggle [(ngModel)]="settings.hideDailyDisclosure" (ionChange)="onSettingChange()"></ion-toggle>
    </ion-item>
    <button ion-item [navPush]="customTagsPage">
      <ion-icon name="notifications" item-start></ion-icon>
      カスタムタグ設定
    </button>
    <ion-list-header>アカウント設定</ion-list-header>
    <button ion-item color="danger" (click)="onLinkToGoogleClick()" *ngIf="!(auth.loginProvider$ | async)?.google_com">
      <ion-icon name="logo-google" item-start></ion-icon>
      GOOGLE連携
    </button>
    <button ion-item color="danger" (click)="onDisconnectFromGoogleClick()" *ngIf="(auth.loginProvider$ | async)?.google_com">
      <ion-icon name="logo-google" item-start></ion-icon>
      GOOGLE連携を解除する
    </button>
    <ion-list-header>プライバシーポリシー</ion-list-header>
    <ion-item>
      <a href="https://disclosure-app.firebaseapp.com/privacy/">プライバシーポリシー</a>
    </ion-item>
  </ion-list>
</ion-content>
