<!--
  Generated template for the DocumentListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{code}} {{companyName | async}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changeFavorite()">
        <ion-icon [name]="(isFavorite | async) ? 'star' : 'star-outline'"></ion-icon>
      </button>
      <button ion-button icon-only (click)="changeNotifications()">
        <ion-icon [name]="(isNotification | async) ? 'notifications' : 'notifications-off'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-refresher>
    <ion-refresher-content> -->
      <!-- <ion-list [virtualScroll]="(items | async) || []"> -->
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <button ion-item (click)="viewDocument(item)" class="text" *ngFor="let item of items" >
        <!-- <button ion-item [navPush]="documentViewPage" [navParams]="item" class="text" *virtualItem="let item" > -->
          <ion-note class="dropdown">
            <span *ngFor="let tag of item.tags | keys">{{tag}} | </span>
            {{item.time | middleTime}}
          </ion-note>
          <h2>{{item.company}}<small>({{item.code}})</small>
          </h2>
          <p class="fade">{{item.title}}</p>
        </button>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    <!-- </ion-refresher-content>
  </ion-refresher> -->
</ion-content>
